ul { padding: 0;}

body{
	margin:0;
	background-color: #9EC7E4;
}

h1{
	font-family: Cochin, Didot, Times, serif;
	color: white;
	text-transform: uppercase;
	background: #114A99;
	padding-right: 10px;
	padding-top: 10px;
	margin-top: 0px;
	font-weight: lighter;
	text-align: right;
}

h3{
	font-family: Cochin, Didot, Times, serif;
	color: white;
	background: #114A99;
	font-weight: lighter;
	text-align: left;
	font-size: 14px;
	margin-top: -20px;
}

.squares img{
	text-align: center;
}

.longs .row {
	width: 100%;
}

.longs img{
	text-align: center;
}

figure img {
	padding: 0.5rem;
	width: 100%;
}
ul.header li{
	display: inline-block;
	margin: 2px;
}

#spectator-logo{
	text-align: left;
	padding-top: -10px;
	padding-left: 20px;
	float: right;
}

.banner{
	width: 100%;
	margin-top: 5px;
	margin-bottom: 10px;
	text-align: center;
}


#bear img{
	vertical-align: inherit;
}




/*#photo-div{
	width: 85%;
	list-style-type: none;
	text-align: center;
	padding: 0px;
	margin-left: -7%;
	float: left;
}*/

.row {
	margin-right: 0;
	margin-left: 0;
}

.photo-grid {
	text-align: center;
	padding-left: 0;
	padding-right: 0;
}

.photo-grid .squares img {
/*	display: block;
	height: auto;
	max-width: 100%;*/
}

.photo-grid figure {
/*	height: auto;*/
	overflow: hidden;
	position: relative;
/*	width: 100%;*/
/*	margin: 0px;*/
}

.photo-grid figcaption {
	background: rgba (0,0,0,0.8);
	color: #000000;
	display: table;
/*	height: 100%;*/
	left: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	-webkit-transition: all 500ms;
	-moz-transition: all 500ms;
	transition: all 500ms;
	-webkit-transition-delay: 100ms;
	-moz-transition-delay: 100ms;
	transition-delay: 100ms;
	z-index: 100;
}

.photo-grid figcaption p {
		-moz-transform: translateY(30px);
	-webkit-transform: translate Y(30px);
	transform: translateY(30px);
	display: table-cell;
	font-size: 0.8em;
	position: relative;
	top: 20px;
	width: 580px;
	vertical-align: center;
	color: #000033;
	font-family: Avenir, Helvetica Neue, Arial Narrow;
}

.photo-grid:hover figcaption p {
	-moz-transform: translateY(30px);
	-webkit-transform: translate Y(30px);
	transform: translateY(30px);
	position: relative;
	vertical-align: center;
	font-size: 0.8em;
	font-family: Avenir, Helvetica, Arial;
	color: #000033;
}

.photo-grid:hover figcaption {
		opacity: 1;

}

.photo-grid img {
	display: block;
	height: auto;
	-webkit-transition: all 300ms;
	-moz-transition: all 300ms;
	transition: all 300ms;
	max-width: 100%;
}

.photo-grid:hover img {
	opacity: 0.6;
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	transform: scale(1.2);
}

.ad-column img {
	width: 100%;
}

/*mobile styles */

/*@media (max-width: 1010px) {
	.photo-grid {
		width: 100%;
	}

	.photo-grid figcaption p {
		-moz-transform: translateY(40px);
		-webkit-transform: translate Y(40px);
		transform: translateY(40px);
		display: table-cell;
		font-size: 16px;
		position: relative;
		top: -40px;
		width: 290px;
		vertical-align: center;
		color: #000033;
		font-family: Avenir, Helvetica Neue, Arial Narrow;
	}

	.photo-grid li:hover figcaption p {
		-moz-transform: translateY(40px);
		-webkit-transform: translate Y(40px);
		transform: translateY(40px);
		position: relative;
		vertical-align: center;
		font-size: 16px;
		font-family: Avenir, Helvetica, Arial;
		color: #000033;
	   }

	#column {
	float: none;
	margin-right: 100px;
	position: static;
	width: 25%;
	margin-top: -1%;
	margin-left: 15px;
	}

	#banner img{
		margin: 10px;
		width: 600px;
		height: auto;

	h1{
		font-family: Cochin, Didot, Times New Roman, serif;
		color: white;
		text-transform:uppercase;
		background:#114A99;
		padding-right: 0px;
		padding-top: 0px;
		margin-top: 0px;
		font-weight: lighter;
		text-align: center;
		font-size: 23px;
		position: relative;
	}

	#spectator-logo{
		display: none;
	}

	#bear{
		display: none;
	}

	#column img {
		width: 100px;
		float: right;
		height: auto;
		margin-left: 10px;
		margin-right: -200px;
	}

	#banner img{
		margin: 100%;
	}
}

@media (max-width: 620px) {
	#banner{
		display: none;
	}


@media (max-width: 565px) {
.photo-grid li {
	width: 30%;
	}

	#banner{
		display: none;
	}

	#spectator-logo{
		display: none;
	}

	#bear{
		display: none;
	}

}*/
